body
{
	font-size: 14px;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
   background-color: #ffffff;
    font-family: 'latoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #5C666A;
}


div.centre {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
}


#menu
{
	
}
#content
{
	
	display: block;
    border: solid 1px #bcc7cf;
    padding: 30px;
   	margin:20px;
    background-color: #eff3f6;
}
}